.ButtonComponent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  gap: 10px;

  width: fit-content;
  height: fit-content;

  border: 3px solid;
  border-radius: 25px;

  padding: 10px;

  color: black;

  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 0;

  &:disabled {
    border-color: var(--disable-400-color);
    background-color: var(--disable-50-color);
    &:hover{
      background-color:  var(--disable-50-color);
    }
    &:active{
      background-color: var(--disable-50-color);
    }
  }
}

.Good{
  border-color: var(--good-400-color);
  background-color: var(--good-200-color);
  &:hover{
    background-color: var(--good-100-color);
  }
  &:active{
    background-color: var(--good-300-color);
  }
}
.Warning{
  border-color: var(--warning-400-color);
  background-color: var(--warning-200-color);
  &:hover{
    background-color: var(--warning-100-color);
  }
  &:active{
    background-color: var(--warning-300-color);
  }
}
.Bad{
  border-color: var(--bad-400-color);
  background-color: var(--bad-200-color);
  &:hover{
    background-color: var(--bad-100-color);
  }
  &:active{
    background-color: var(--bad-300-color);
  }
}
