.PointComponent {
  width: 150px;
  height: 86px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .player {
    width: 100%;
    height: 30px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
    border-radius: 25px 25px 0 0;
  }

  .points {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;

    font-weight: 500;
    font-size: 40px;
    line-height: 0;
    letter-spacing: 0;

    border: 2px solid black;
    border-top: 0;
    border-radius: 0 0 25px 25px;
  }

  &[data-play="true"] {
    /*Animacion para indicar que jugador le toca marcar casilla*/
    --border : 5px solid black;
    --animation-seconds : 0.8s;
    .player{
      border: var(--border);
      border-bottom: 0;
      border-radius: 25px 25px 0 0;
      animation: blinkBorder var(--animation-seconds) infinite;
    }
    .points{
      border: var(--border);
      border-top: 0;
      border-radius: 0 0 25px 25px;
      animation: blinkBorder var(--animation-seconds) infinite;
    }
  }
}

@keyframes blinkBorder {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: var(--good-300-color);
  }
  100% {
      border-color: transparent;
  }
}


