<div class="ScoreComponent">
  <!--En caso de que la partida se este jugando sale la puntuacion-->
  <div class="PointsContainer" *ngIf="endGame()?.state == 'play'">
    <app-point
    [points]="score()[0]"
    [play]="play() ? false : true"
  >
    <svg-circle
      [width]="20"
      [height]="20"
    ></svg-circle>
  </app-point>
  <app-point
    [points]="score()[1]"
    [play]="play() ? true : false"
  >
    <svg-x
      [width]="20"
      [height]="20"
    ></svg-x>
  </app-point>
  </div>
  <!--En caso de que la partida terminase se pinta si es winner o draw-->
  <div class="EndGame" *ngIf="endGame()?.state != 'play'">
    <app-result [result]="'winner'" *ngIf="endGame()?.state == 'winner'">
      <app-box
      [icon]="endGame().player"
      state="winner"
      >
      </app-box>
    </app-result>
    <app-result [result]="'draw'" *ngIf="endGame()?.state == 'draw'">
    </app-result>
  </div>
</div>
